.dlog-blog-related-posts {
  &__title {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-bottom: gap(3);
    position: relative;
    text-transform: uppercase;

    span {
      background: white;
      position: relative;
      z-index: 10;
      padding: 0 gap(2);
    }

    &::before {
      content:  '';
      width: 100%;
      height: 2px;
      background-color: gray(300);
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% - 1px);
      z-index: 10;
    }
  }

  &__items {
    lost-flex-container: row;
  }

  &__item {
    lost-waffle:  3/12 4;
  }
}
