.dlog-label-with-icon-media-formatter {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: gap();
    flex: 0 0 70px;
    width: 70px;

    svg {
      width: 100%;
    }
  }

  &__label {
    color: $text-color;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: gap(0.5);
  }

  &__filesize {
    color: gray(600);
    font-size: 14px;
  }


}
