.dlog-hero {
  position: relative;
  margin-top: -42px;
  min-height: 600px;
  padding-bottom: 100px;
  z-index: 0;
  overflow: hidden;

  &__content {
    @include media-container();
    position: relative;
    z-index: 10;
    top: 150px;
    padding-bottom: 145px;
  }

  &__title {
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) ;
    font-size: 58px;
    font-weight: bold;
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__subtitle {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) ;
    max-width: 600px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0,  0.1);
    z-index: 20;
    @include gradient-y(#373B44, rgba(#4286f4, 0.2));
  }

  // For blog article.
  &__tags {
    display: flex;
    margin-bottom: gap(2);
  }

  &__tag {
    display: block;
    background: theme-color();
    background: white;
    border-radius: 4px;
    padding: 4px gap(2);
    font-size: 14px;
    margin-right: gap();

    &:hover {
      background: rgba(white, 0.7);
    }
  }

}
