// =============================================================================
// Input elements.
// =============================================================================

$input-padding-y: gap() !default;
$input-padding-x: gap(2) !default;
$input-line-height: 1.25 !default;
$input-border-width: 1px !default;
$input-bg: #ffffff !default;
$input-border: rgba(34, 36, 38, 0.15) !default;
$input-border-focus: theme-color('primary');
$input-enable-shadows: false !default;
$input-box-shadow: 0 0 0 0 transparent !default;
$input-focus-box-shadow: 0 0 0 3px rgba(theme-color('primary'), 0.5) !default;
$input-border-radius: $border-radius-small !default;
$input-color: $text-color !default;
$input-bg-disabled: rgb(250, 250, 250) !default;
$input-color-disabled: rgba(163, 163, 163, 1) !default;

input {
  font-family: $font-family;
  color: $input-color;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='number'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[autofocus],
input[required],
textarea,
select {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font: 18px;
  line-height: $input-line-height;
  background-color: $input-bg;
  border-width: 1px;
  border-style: solid;
  border-color: $input-border;
  border-radius: $input-border-radius;
  box-sizing: border-box;
  transition: all .15s ease-in-out;

  @if ($input-enable-shadows) {
    box-shadow: $input-box-shadow;
  }

  &.error {
    border-color: theme-color('error');
  }

  &:focus {
    outline: medium none;
    border-color: $input-border-focus;

    @if ($input-enable-shadows) {
      box-shadow: $input-focus-box-shadow;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background: $input-bg-disabled;
    font-size: 100%;
    color: $input-color-disabled;
    text-shadow: none;
  }
}

input[type='checkbox'] {
  display: inline-block;
  width: auto;
}

textarea {
  height: auto;
  color: $input-color;
}

select {
  cursor: pointer;
  width: auto;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: gap();
}

fieldset {
  border: 1px solid #d0d0d0;
  padding: 15px;
  position: relative;
  margin: gap(2) 0;

  .fieldset-legend {
    font-weight: bold;
    margin-top: gap();
    position: absolute;
    text-transform: uppercase;
  }

  .fieldset-wrapper {
    margin: gap(3) 0 0 0;
  }
}

// @todo move all fieldset classes to components.
html.js {
  fieldset {
    &.collapsed {
      border-width: 1px;
    }

    &.collapsible {
      .fieldset-legend {
        padding-left: gap(2);
      }
    }
  }
}
