$avatar-width: 40px;

.comment-comment-full {
  display: flex;
  margin-bottom: gap(3);
  padding-bottom: gap(3);
  border-bottom: 1px solid gray(300);
  font-size: 16px;

  &__left {
    width: $avatar-width;
    margin-right: gap(2);
  }

  &__right {
    width: calc(100% - #{$avatar-width} - #{gap(2)});
  }

  &__letter-avatar {
    height: $avatar-width;
    text-align: center;
    line-height: $avatar-width;
    font-weight: bold;
    font-size: 22px;
    border-radius: $avatar-width;
    position: relative;
    overflow: hidden;
    z-index: 10;

    &::before {
      @include gradient-y(rgba(white, 0.1), rgba(black, 0.1));
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 5;
    }
  }

  &__header-item {
    margin-right: gap();
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: gap();
  }

  &__new {
    font-size: 10px;
    font-weight: bold;
    padding: 2px gap();
    color: white;
    border-radius: $border-radius-base;
    text-shadow: 0 1px 3px rgba(black, 0.1);
    text-transform: uppercase;
    background-color: lighten(theme-color(), 15%);
  }

  &__homepage {
    @include gradient-directional(rgba(theme-color(), 0.3), theme-color('secondary'));
    font-size: 10px;
    font-weight: bold;
    display: inline-flex;
    padding: 2px gap();
    color: white;
    border-radius: $border-radius-base;
    text-shadow: 0 1px 3px rgba(black, 0.1);
  }

  .username {
    color: #000000;
    font-weight: bold;
  }

  &__footer {
    display: flex;
    margin-top: gap();
    font-size: 14px;
  }

  &__footer-item {
    margin-right: gap();
  }

  mark { }

  .links {
    @include list-unstyled;
    display: flex;

    li {
      margin-left: gap();

      a {
        color: gray(600);

        &:hover{
          color: gray(800);
        }
      }

      &:first-child{
        margin-left: unset;
      }
    }
  }

  &__created {
    color: gray(500);
  }
}
