{% set bem_block = 'app' %}
<div class="{{ bem_block }}">
  {% include '@blogger/include/header.html.twig' with {'show_dlog_hero' : false} %}
  {% include '@blogger/include/pages/front-page.html.twig' %}
  {% include '@blogger/include/footer.html.twig' %}
</div>
