.taxonomy-term-tags-teaser {
  &__link {
    display: block;
    position: relative;
    height: 0;
    padding-bottom: 100%;

    &::before {
      position: absolute;
      content: '';
      display: block;
      z-index: 10;
      top: gap(1);
      right: gap(1);
      left: gap(1);
      bottom: gap(1);
      border: 1px solid #ffffff;
    }

    &:hover {
      &::before{
        border-color: theme-color('secondary');
        transition: background-color 0.25s ease;
      }

      .taxonomy-term-tags-teaser__title {
        background-color: theme-color('secondary');
        color: #ffffff;
        transition: background-color 0.25s ease;
      }
    }
  }

  &__promo-image {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    color: $text-color;
    transform: translate(-50%, -50%);
    display: block;
    padding: 4px gap();
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
  }
}
