.paragraph-gallery-remote-video {
  &__field-remote-videos {
    lost-flex-container: row;
  }

  &--videos-pre-row-4 {
    .paragraph-gallery-remote-video__field-remote-videos-item {
      lost-waffle: 3/12 4;
    }
  }

  &--videos-pre-row-3 {
    .paragraph-gallery-remote-video__field-remote-videos-item {
      lost-waffle: 4/12 3;
    }
  }


  &--videos-pre-row-2 {
    .paragraph-gallery-remote-video__field-remote-videos-item {
      lost-waffle: 6/12 2;
    }
  }
}
