.paragraph-style {

  &--title-bold {
    .paragraph-title {
      font-weight: bold;
    }
  }

  &--title-centered {
    text-align: center;
  }

  &--style-black {
    background: #212121;
    color: white;
    padding: gap(4);
  }
}
