.paragraph-gallery {

  &__field-gallery {
    lost-flex-container: row;
  }

  &--images-pre-row-4 {
    .paragraph-gallery__field-gallery-item {
      lost-waffle: 3/12 4;
    }

  }

  &--images-pre-row-3 {
    .paragraph-gallery__field-gallery-item {
      lost-waffle: 4/12 3;
    }
  }

  &--images-pre-row-2 {
    .paragraph-gallery__field-gallery-item {
      lost-waffle: 6/12 2;
    }
  }

}
