.paragraph-code {

  &__content {
    border: 1px solid gray(300);
    border-radius: 4px;
  }

  &__field-title {
    @include mdi-icon('code-braces');
    background: gray(100);
    padding: gap(1) gap(2);
    font-weight: bold;
    overflow: hidden;
  }

  &__filed-body {
    padding: gap();
    border-bottom: 1px solid gray(300);
    background: white;
  }

  pre {
    margin: 0;
    padding: 0;

    code {
      position: relative;
      padding: gap(2) gap(3);
    }
  }

  .hljs {
    font-size: 16px;
  }

  &__highlight-line {
    @include gradient-x(rgba(theme-color(), 0.1), rgba(theme-color('secondary'), 0.1));
    position: absolute;
    left: 0;
    right: 0;
    user-select: none;
    pointer-events: none;
    z-index: 10;
  }
}
