.header {
  position: relative;
  z-index: 50;

  &__top {
    @include  media-container();
    lost-flex-container: row;
    align-items: center;
    position: relative;
    z-index: 20;
   }

  .block-system-branding-block {
    margin-right: 30px;
  }
}
