.media-remote-video {
  &__field-media-oembed-video {
    position: relative;
    height: 0;
    padding-bottom: 56.4%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
