{% import '@blogger/include/social-links.html.twig' as social_links %}
{% set bem_block = "footer" %}
<footer class="{{bem_block}}">
  <div class="{{bem_block}}__content">
    <div class="{{bem_block}}__copyright">
      {{ social_links.links('footer-social') }}
     {{ drupal_block('system_menu_block:footer') }}
      &copy; {{'now'|date('Y')}} <strong>Dlog Hero</strong>. Все права защищени.
    </div>
    <a href="#" class="{{bem_block}}__top">Вверх</a>
  </div>
</footer>
