{% set header_attributes  = create_attribute()%}
{% do header_attributes.setAttribute('role', 'banner') %}
{% set bem_block = 'header' %}
{% set classes = [
  bem_block
] %}
{% set brending_settings_config =  {
    use_site_logo: false,
    use_site_slogan: false,
  }
%}
{% set show_dlog_hero = show_dlog_hero is defined ? show_dlog_hero : true %}
{% if bem_modifires is defined %}
  {% for modifer in bem_modifires %}
    {% set classes = classes|merge([bem_block ~ '--' ~ modifer]) %}
  {% endfor %}
{% endif %}
<header {{ header_attributes.addClass(classes) }}>
  <div class="{{ bem_block }}__top" >
    {{ drupal_block('system_branding_block', brending_settings_config) }}
    {{ drupal_block('system_menu_block:main', {label_display: false}) }}
  </div>
  {%  if show_dlog_hero %}
    {{ drupal_block('dlog_hero') }}
  {% endif %}
</header>
