{% macro links(bem_block) %}
  {% set bem_block = bem_block ?: "social-links" %}
  {% set socila_items = {
    'facebook':'#',
    'vk' : '#',
    'twitter': '#',
    'instagram':'#',
    'youtube': '#',
    'linkedin': '#',
  } %}
  <div class="{{bem_block}}">
    <ul class="{{bem_block}}__items">
      {% for name, url in socila_items %}
        <li class="{{bem_block}}__item">
          <a href="{{ulr}}" class="{{bem_block}}__link {{bem_block}}__link--{{name}}"></a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}
