.node-blog-article-full  {

  .dlog-social-share {
    margin-bottom: gap(6);
  }

  &__field-paragraphs {
    margin-bottom: gap(6);
  }

  .previous-next {
    margin-bottom: gap(6);
  }

  &__field-attachments-label {
    font-size: 24px;
    text-align: center;
    margin-bottom: gap(3);
  }

  &__field-attachments {
    margin-left: gap(-3);
    margin-right: gap(-3);
    padding: gap(3);
    background: gray(100);
    margin-bottom: gap(6);
    border-top: 1px solid gray(100);
    border-bottom: 1px solid gray(100);
  }

  &__field-attachments-items {
    lost-flex-container: row;
  }

  &__field-attachments-item {
    lost-waffle: 4/12 3;
  }

  .dlog-blog-related-posts {
    margin-bottom: gap(3);
  }

  .dlog-blog-random-posts {
    margin-bottom: gap(3);
  }

  &__field-comments-title, &__field-comments-form-title {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-bottom: gap(3);
    position: relative;
    text-transform: uppercase;

    span {
      background: white;
      position: relative;
      z-index: 10;
      padding: 0 gap(2);
    }

    &::before {
      content:  '';
      width: 100%;
      height: 2px;
      background-color: gray(300);
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% - 1px);
      z-index: 10;
    }
  }

  &__field-comments-content {
    margin-bottom: gap(3);

    .indented {
      margin-left: gap(6);
    }
  }

  .comment-comment-full {
    margin-bottom: gap(3);
    padding-bottom: gap(3);
    border-bottom:  1px solid gray(300);
  }

  &__field-comments-content > .comment-comment-full {
    &:last-child {
      border-bottom: unset;
      margin-bottom: unset;
      padding-bottom: unset;
    }
  }

}
