
{% set bem_block = bem_block ?: ('taxonomy-term-' ~ term.bundle ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class %}
{% set classes = [
  bem_block,
] %}
<div{{ attributes.addClass(classes) }}>
  <a href="{{ url }}" class="{{ bem_block }}__link">
    {{ content }}
    <span class="{{ bem_block }}__title">{{ name }}</span>
  </a>
</div>
