<?php

namespace Drupal\{{ machine_name }}\Plguin\DlogHero\Path;

use Drupal\dlog_hero\Plugin\DlogHero\Path\DlogHeroPathPluginBase;

/**
 * Hero block for path.
 *
 * @DlogHeroPath(
 *  id = "{{ plugin_id }}",
 *  match_type = "{{ match_type }}",
 *  match_path = {"<front>"},
 * )
 *
 */
class {{ name }} extends DlogHeroPathPluginBase {

  {% if is_title %}
    /**
    * {@inheritdoc}
    */
    public  function getHeroTitle() {
      return $this->getPageTitle();
}
{% endif %}

  {% if is_subtitle %}
    /**
    * {@inheritdoc}
    */
    public  function getHeroSubTitle() {
    return $this->getPageSubTitle();
    }
  {% endif %}

  {% if is_image %}
    /**
    * {@inheritdoc}
    */
    public function getHeroImage() {

    }
  {% endif %}

  {% if is_video %}
    /**
    * {@inheritdoc}
    */
    public  function getHeroVideo() {

   }
  {% endif %}

}
