.main-layout {
  @include media-container();
  position: relative;
  z-index: 60;

  &__inner {
    lost-flex-container: row;
    padding:  gap(6) gap(3);
    background: white;
    box-shadow: 0 0 15px 5px rgba(black, 0.05);
    margin-top: -100px;
  }

  &--sidebar-first {
    .region-content {
      lost-column: 9/12;
    }

    .region-sidebar-first {
      lost-column: 3/12;
    }
  }
}
