{% set share_links = {
  'vk':'https://vk.com/share.php?url=' ~ url ~ '&title=' ~  label,
  'facebook':'https://facebook.com/sharer/sharer.php?u=' ~ url,
  'twitter': 'https://twitter.com/intent/tweet?url=' ~ url ~ '&text=' ~ label,
  'telegram': 'https://telegram.me/share/url?url=' ~ url  ~'&text=' ~ label,
}
%}

{% set bem_block = 'dlog-social-share'  %}
<div {{ attributes.addClass(bem_block) }}>
  <div class="{{ bem_block }}__label">Поделится /</div>
  <div class="{{ bem_block }}__links">
    {% for  social_network, share_url in share_links %}
      <a href="https://vk.com/share.php?url={{ share_url }}"  title="{{ social_network }}" class="{{ bem_block }}__link {{ bem_block }}__link--{{ social_network }}" rel="noopener ofollow" target="_blank"></a>
    {% endfor %}
    </div>
</div>
