.block-main__title {
  display: none; }

.block-main__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.block-main__menu-item {
  margin-right: 24px; }
  .block-main__menu-item:last-child {
    margin-right: 0; }

.block-main__menu-item-link {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 42px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); }
  .block-main__menu-item-link:hover {
    color: #405efa; }

.header--light-menu .block-main__menu-item-link {
  color: #333333;
  text-shadow: unset; }
  .header--light-menu .block-main__menu-item-link:hover {
    color: #405efa; }

.block-system-branding-block__site-name {
  display: block;
  color: #405efa;
  font-weight: bold;
  font-size: 28px; }

.block-footer__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center; }

.block-footer__menu-item {
  margin: 0 16px; }

.block-footer__menu-item-link {
  text-transform: uppercase;
  font-weight: bold;
  color: #333333;
  font-size: 14px; }
  .block-footer__menu-item-link:hover {
    color: #405efa; }

@font-face {
  font-family: "Material Design Icons";
  src: url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?v=2.8.94");
  src: url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?#iefix&v=2.8.94") format("embedded-opentype"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff2?v=2.8.94") format("woff2"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff?v=2.8.94") format("woff"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.ttf?v=2.8.94") format("truetype"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.svg?v=2.8.94#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.breadcrumbs {
  background: transparent;
  padding: 0 0;
  margin-bottom: 0;
  border-radius: 4px;
  font-size: 18px;
  display: -webkit-box;
  display: flex; }
  .breadcrumbs__path {
    display: inline; }
  .breadcrumbs__item-link {
    color: #405efa; }
    .breadcrumbs__item-link::after {
      margin: 0 4px;
      content: "/"; }
    .breadcrumbs__item-link.is-current::after {
      display: none; }
    .breadcrumbs__item-link--text {
      color: #333333; }
  .breadcrumbs__current {
    display: inline; }
  @media (max-width: 767px) {
    .breadcrumbs__path {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-shrink: 1; }
    .breadcrumbs__item-link.is-current::before {
      margin: 0 4px;
      content: "/"; }
    .breadcrumbs__item-link:last-child::after {
      display: none; }
    .breadcrumbs__current {
      display: block;
      -webkit-box-flex: 1;
              flex-grow: 1;
      flex-shrink: 0; } }

.button, .form-submit,
.button--primary,
.button--action, .button--warning, .button-danger, .button--success, .button--info, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button, .front-page__search-submit, .front-page__articles-more {
  padding: 16px 32px;
  font-size: 18px;
  line-height: 1.25;
  border-radius: unset;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none; }

.button {
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#405efa), to(#0099F7));
  background-image: linear-gradient(to right, #405efa 0%, #0099F7 100%);
  background-repeat: repeat-x;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }
  .button:focus, .button:hover {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); }
  .button:disabled {
    background-color: #ffffff;
    border-color: #cccccc;
    opacity: .65; }
  .button:active {
    color: #333333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); }

.form-submit,
.button--primary,
.button--action {
  color: white;
  background-color: #405efa;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#405efa), to(#0099F7));
  background-image: linear-gradient(to right, #405efa 0%, #0099F7 100%);
  background-repeat: repeat-x;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }
  .form-submit:focus, .form-submit:hover,
  .button--primary:focus,
  .button--primary:hover,
  .button--action:focus,
  .button--action:hover {
    color: white;
    background-color: #0e34f9;
    border-color: transparent; }
  .form-submit:focus,
  .button--primary:focus,
  .button--action:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(64, 94, 250, 0.5); }
  .form-submit:disabled,
  .button--primary:disabled,
  .button--action:disabled {
    background-color: #405efa;
    border-color: transparent;
    opacity: .65; }
  .form-submit:active,
  .button--primary:active,
  .button--action:active {
    color: white;
    background-color: #0e34f9;
    background-image: none;
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(64, 94, 250, 0.5); }

.button--warning {
  color: white;
  background-color: #ff9800;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#405efa), to(#0099F7));
  background-image: linear-gradient(to right, #405efa 0%, #0099F7 100%);
  background-repeat: repeat-x;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }
  .button--warning:focus, .button--warning:hover {
    color: white;
    background-color: #cc7a00;
    border-color: #a86400; }
  .button--warning:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 152, 0, 0.5); }
  .button--warning:disabled {
    background-color: #ff9800;
    border-color: #e68900;
    opacity: .65; }
  .button--warning:active {
    color: white;
    background-color: #cc7a00;
    background-image: none;
    border-color: #a86400;
    box-shadow: 0 0 0 3px rgba(255, 152, 0, 0.5); }

.button-danger {
  color: white;
  background-color: #f44336;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#405efa), to(#0099F7));
  background-image: linear-gradient(to right, #405efa 0%, #0099F7 100%);
  background-repeat: repeat-x;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }
  .button-danger:focus, .button-danger:hover {
    color: white;
    background-color: #ea1c0d;
    border-color: #c8180b; }
  .button-danger:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(244, 67, 54, 0.5); }
  .button-danger:disabled {
    background-color: #f44336;
    border-color: #f32c1e;
    opacity: .65; }
  .button-danger:active {
    color: white;
    background-color: #ea1c0d;
    background-image: none;
    border-color: #c8180b;
    box-shadow: 0 0 0 3px rgba(244, 67, 54, 0.5); }

.button--success {
  color: white;
  background-color: #4caf50;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#405efa), to(#0099F7));
  background-image: linear-gradient(to right, #405efa 0%, #0099F7 100%);
  background-repeat: repeat-x;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }
  .button--success:focus, .button--success:hover {
    color: white;
    background-color: #3d8b40;
    border-color: #327334; }
  .button--success:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5); }
  .button--success:disabled {
    background-color: #4caf50;
    border-color: #449d48;
    opacity: .65; }
  .button--success:active {
    color: white;
    background-color: #3d8b40;
    background-image: none;
    border-color: #327334;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5); }

.button--info {
  color: white;
  background-color: #29b6f6;
  background-image: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#405efa), to(#0099F7));
  background-image: linear-gradient(to right, #405efa 0%, #0099F7 100%);
  background-repeat: repeat-x;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125); }
  .button--info:focus, .button--info:hover {
    color: white;
    background-color: #0a9fe2;
    border-color: #0887c0; }
  .button--info:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(41, 182, 246, 0.5); }
  .button--info:disabled {
    background-color: #29b6f6;
    border-color: #11aef5;
    opacity: .65; }
  .button--info:active {
    color: white;
    background-color: #0a9fe2;
    background-image: none;
    border-color: #0887c0;
    box-shadow: 0 0 0 3px rgba(41, 182, 246, 0.5); }

.comments__content .indented {
  padding-left: 32px; }

.contextual-region .contextual-links {
  background: white;
  border: 1px solid;
  border-radius: 4px 0 4px 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
  .contextual-region .contextual-links li a {
    color: inherit; }

.form-item {
  margin: 0 0 16px; }
  .form-item__description {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    color: gray("500");
    font-size: 85%; }
  .form-item__label.is-required:after {
    content: "*";
    display: inline-block;
    color: #f44336;
    margin: 0 0 0 4px; }

.form-actions input {
  margin: 0 8px 0 0; }
  .form-actions input:last-child {
    margin: 0; }

.filter-wrapper {
  margin-top: -16px; }

.form-item__label.option {
  margin-bottom: 0; }

.form-item--radio {
  margin-bottom: 0; }

.form-wrapper {
  border: 1px solid #e0e0e0; }
  .form-wrapper__summary {
    background: #f5f5f5;
    padding: 8px;
    cursor: pointer; }
  .form-wrapper__content {
    padding: 8px; }

.local-actions {
  padding: 0;
  margin: 0 0 24px;
  list-style: none;
  display: -webkit-box;
  display: flex; }
  .local-actions__item:not(:last-child) {
    margin-right: 8px; }

.menu {
  margin: 0;
  padding: 0;
  list-style: none; }

.messages {
  position: relative;
  margin: 0 0 1rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  border: 1px solid transparent;
  color: #5d5d5d;
  background-color: #fafafa;
  border-color: #eeeeee; }
  .messages hr {
    border-top-color: #e1e1e1; }
  .messages a {
    color: #444444; }
  .messages--error {
    color: #9f3a38;
    background-color: #fff6f6;
    border-color: #e0b4b4; }
    .messages--error hr {
      border-top-color: #d9a2a2; }
    .messages--error a {
      color: #792c2b; }
  .messages--status {
    color: #2c662d;
    background-color: #fcfff5;
    border-color: #a3c293; }
    .messages--status hr {
      border-top-color: #95b983; }
    .messages--status a {
      color: #1d421d; }
  .messages--warning {
    color: #573a08;
    background-color: #fffaf3;
    border-color: #c9ba9b; }
    .messages--warning hr {
      border-top-color: #c0af8a; }
    .messages--warning a {
      color: #281b04; }

.pager__items {
  margin: 1rem auto;
  padding: 0;
  list-style: none outside none;
  display: table;
  overflow: hidden; }
  .pager__items .pager__item {
    display: inline-block;
    color: #8c8c8c;
    margin: 0;
    padding: 0 0.25rem; }
    .pager__items .pager__item a {
      display: block;
      border-bottom: 3px solid transparent;
      padding: 0 0.25rem 0.25rem;
      font-weight: 600;
      text-decoration: none;
      color: #405efa; }
    .pager__items .pager__item.is-active a {
      border-bottom-color: #0526cf;
      color: #0526cf; }

table {
  background: transparent; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: gray("500");
  text-align: left; }

th {
  text-align: left; }

table, .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-spacing: 0;
  border-collapse: collapse; }
  table > thead > tr > th, .table > thead > tr > th, table > thead > tr > td, .table > thead > tr > td, table > tbody > tr > th, .table > tbody > tr > th, table > tbody > tr > td, .table > tbody > tr > td, table > tfoot > tr > th, .table > tfoot > tr > th, table > tfoot > tr > td, .table > tfoot > tr > td {
    padding: 0.75rem;
    line-height: 1.6;
    vertical-align: top;
    border-top: 1px solid #e9ecef; }
  table > thead > tr > th, .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef; }
  table > tbody + tbody, .table > tbody + tbody {
    border-top: 2px solid #e9ecef; }

table > thead > tr > th, .table--condensed > thead > tr > th, table > thead > tr > td, .table--condensed > thead > tr > td, table > tbody > tr > th, .table--condensed > tbody > tr > th, table > tbody > tr > td, .table--condensed > tbody > tr > td, table > tfoot > tr > th, .table--condensed > tfoot > tr > th, table > tfoot > tr > td, .table--condensed > tfoot > tr > td {
  padding: 5px; }

table > tbody > tr:nth-of-type(odd), .table--srippted > tbody > tr:nth-of-type(odd), .table--stripped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; }

table > tbody > tr:hover, .table--hover > tbody > tr:hover {
  background-color: #f5f5f5; }

.table-responsive-container {
  overflow-x: auto;
  min-height: 0.01%; }
  @media (max-width: 467px) {
    .table-responsive-container {
      width: 100%;
      margin-bottom: 21px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #e9ecef; }
      .table-responsive-container > .table {
        margin-bottom: 0; }
        .table-responsive-container > .table > thead > tr > th,
        .table-responsive-container > .table > thead > tr > td,
        .table-responsive-container > .table > tbody > tr > th,
        .table-responsive-container > .table > tbody > tr > td,
        .table-responsive-container > .table > tfoot > tr > th,
        .table-responsive-container > .table > tfoot > tr > td {
          white-space: nowrap; }
      .table-responsive-container > .table-bordered {
        border: 0; }
        .table-responsive-container > .table-bordered > thead > tr > th:first-child,
        .table-responsive-container > .table-bordered > thead > tr > td:first-child,
        .table-responsive-container > .table-bordered > tbody > tr > th:first-child,
        .table-responsive-container > .table-bordered > tbody > tr > td:first-child,
        .table-responsive-container > .table-bordered > tfoot > tr > th:first-child,
        .table-responsive-container > .table-bordered > tfoot > tr > td:first-child {
          border-left: 0; }
        .table-responsive-container > .table-bordered > thead > tr > th:last-child,
        .table-responsive-container > .table-bordered > thead > tr > td:last-child,
        .table-responsive-container > .table-bordered > tbody > tr > th:last-child,
        .table-responsive-container > .table-bordered > tbody > tr > td:last-child,
        .table-responsive-container > .table-bordered > tfoot > tr > th:last-child,
        .table-responsive-container > .table-bordered > tfoot > tr > td:last-child {
          border-right: 0; }
        .table-responsive-container > .table-bordered > tbody > tr:last-child > th,
        .table-responsive-container > .table-bordered > tbody > tr:last-child > td,
        .table-responsive-container > .table-bordered > tfoot > tr:last-child > th,
        .table-responsive-container > .table-bordered > tfoot > tr:last-child > td {
          border-bottom: 0; } }

a.tabledrag-handle .handle {
  height: 1.5rem;
  width: 1.25rem; }

.tabs {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  flex-flow: wrap; }
  .tabs--primary {
    margin: 0 0 24px; }
    .tabs--primary .tabs__menu-item {
      position: relative; }
    .tabs--primary .tabs__menu-item-link {
      display: block;
      padding: 0 10px 10px 10px;
      color: #333333;
      position: relative; }
      .tabs--primary .tabs__menu-item-link:hover {
        color: gray("500"); }
      .tabs--primary .tabs__menu-item-link.is-active {
        color: #405efa;
        font-weight: bold; }
        .tabs--primary .tabs__menu-item-link.is-active::before {
          content: '';
          width: 70%;
          height: 4px;
          background: #405efa;
          position: absolute;
          bottom: 0;
          left: 15%; }
        .tabs--primary .tabs__menu-item-link.is-active:hover {
          color: theme-color-level("primary", 4); }
  .tabs--secondary {
    margin: 0 0 24px; }
    .tabs--secondary .tabs__menu-item {
      position: relative; }
    .tabs--secondary .tabs__menu-item-link {
      display: block;
      padding: 0 10px 10px 10px;
      border-bottom: 1px solid;
      color: #333333; }
      .tabs--secondary .tabs__menu-item-link:hover {
        color: gray("500");
        border-bottom-color: #405efa; }
      .tabs--secondary .tabs__menu-item-link.is-active {
        border-bottom-width: 2px;
        border-bottom-color: #405efa;
        color: #405efa;
        font-weight: bold; }
        .tabs--secondary .tabs__menu-item-link.is-active:hover {
          color: theme-color-level("primary", 4); }

.vertical-tabs {
  background: white; }
  .vertical-tabs .vertical-tabs__menu {
    background: #fbfaf8;
    border: 1px solid #dddddd; }
    .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item {
      border: none; }
      .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item a {
        color: #555459;
        border: none; }
      .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected {
        background: #439fe0; }
        .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected strong, .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected .summary {
          color: white;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .vertical-tabs .vertical-tabs__panes {
    padding: 1rem; }

.text-subtle {
  color: gray("500"); }

.text-highlight {
  color: gray("600"); }

.text-info {
  color: theme-color("info"); }

.text-success {
  color: theme-color("success"); }

.text-warning {
  color: theme-color("warning"); }

.text-error {
  color: theme-color("error"); }

.highlight, .highlight-info, .highlight-success, .highlight-warning, .highlight-error {
  padding: 1px 4px;
  font-weight: bold;
  text-shadow: none;
  border-radius: 3px;
  color: #d7dae0;
  background: #31363f; }

.highlight-info {
  color: #edf9fe;
  background: #29b6f6; }

.highlight-success {
  color: #d9eeda;
  background: #4caf50; }

.highlight-warning {
  color: #ffeacc;
  background: #ff9800; }

.highlight-error {
  color: #fff8f7;
  background: #f44336; }

.ui-widget-overlay {
  background: black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10; }

.ui-dialog {
  z-index: 100;
  background: white;
  color: #333333;
  padding: 0;
  border-radius: 4px;
  border: transparent !important;
  max-width: 100%;
  font-size: 18px; }
  .ui-dialog .ui-widget-header {
    border-radius: 4px;
    background: transparent;
    color: #333333;
    padding: 16px 16px 8px;
    border: none;
    border-bottom: none; }
    .ui-dialog .ui-widget-header .ui-dialog-title {
      color: #333333;
      font-weight: bold;
      font-size: 18px; }
    .ui-dialog .ui-widget-header .ui-dialog-titlebar-close {
      float: right;
      background: none;
      width: auto;
      border: none;
      text-indent: 0;
      font-size: 28px;
      line-height: 1; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close:before {
        content: "\F5AD";
        font-family: "Material Design Icons";
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 0; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close:before {
        position: relative;
        top: -6px; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-icon {
        display: none; }
        .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-icon:before {
          margin: 0; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-button-text {
        padding: 0;
        font-size: "Roboto", sans-serif;
        line-height: 1.6; }
  .ui-dialog .ui-dialog-content {
    padding: 0 16px;
    border: none;
    overflow: auto; }
  .ui-dialog .ui-dialog-buttonpane {
    background: transparent;
    padding: 0 16px 16px;
    border: none;
    border-top: none; }
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
      float: none;
      display: table;
      margin: 0 auto; }
      .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button {
        color: white;
        background-color: #405efa;
        background-image: none;
        background-image: -webkit-gradient(linear, left top, right top, from(#405efa), to(#0099F7));
        background-image: linear-gradient(to right, #405efa 0%, #0099F7 100%);
        background-repeat: repeat-x;
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
        padding: 8px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:focus, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:hover {
          color: white;
          background-color: #0e34f9;
          border-color: transparent; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(64, 94, 250, 0.5); }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:disabled {
          background-color: #405efa;
          border-color: transparent;
          opacity: .65; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:active {
          color: white;
          background-color: #0e34f9;
          background-image: none;
          border-color: transparent;
          box-shadow: 0 0 0 3px rgba(64, 94, 250, 0.5); }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button .ui-button-text {
          padding: 0; }

.views-mini-pager__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }

.views-mini-pager__item--label {
  padding: 8px; }

.views-mini-pager__item-link {
  padding: 8px;
  display: block; }

.form-comment-comment-form__author {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.form-contact-message-feedback-form {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  margin-bottom: 48px; }
  .form-contact-message-feedback-form__header {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap; }
  .form-contact-message-feedback-form__name {
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
    max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
    width: calc(100% * 6/12 - (30px - 30px * 6/12)); }
  .form-contact-message-feedback-form__name:nth-child(1n) {
    margin-right: 30px;
    margin-left: 0; }
  .form-contact-message-feedback-form__name:last-child {
    margin-right: 0; }
  .form-contact-message-feedback-form__name:nth-child(12n) {
    margin-right: 0;
    margin-left: auto; }
  .form-contact-message-feedback-form__mail {
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
    max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
    width: calc(100% * 6/12 - (30px - 30px * 6/12)); }
  .form-contact-message-feedback-form__mail:nth-child(1n) {
    margin-right: 30px;
    margin-left: 0; }
  .form-contact-message-feedback-form__mail:last-child {
    margin-right: 0; }
  .form-contact-message-feedback-form__mail:nth-child(12n) {
    margin-right: 0;
    margin-left: auto; }

.node-blog-article-full .dlog-social-share {
  margin-bottom: 48px; }

.node-blog-article-full__field-paragraphs {
  margin-bottom: 48px; }

.node-blog-article-full .previous-next {
  margin-bottom: 48px; }

.node-blog-article-full__field-attachments-label {
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px; }

.node-blog-article-full__field-attachments {
  margin-left: -24px;
  margin-right: -24px;
  padding: 24px;
  background: #f5f5f5;
  margin-bottom: 48px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5; }

.node-blog-article-full__field-attachments-items {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.node-blog-article-full__field-attachments-item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  height: calc(100% * 4/12 - (30px - 30px * 4/12)); }

.node-blog-article-full__field-attachments-item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.node-blog-article-full__field-attachments-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.node-blog-article-full__field-attachments-item:nth-child(3n) {
  margin-right: 0;
  margin-left: auto; }

.node-blog-article-full__field-attachments-item:nth-last-child(-n + 3) {
  margin-bottom: 0; }

.node-blog-article-full .dlog-blog-related-posts {
  margin-bottom: 24px; }

.node-blog-article-full .dlog-blog-random-posts {
  margin-bottom: 24px; }

.node-blog-article-full__field-comments-title, .node-blog-article-full__field-comments-form-title {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
  position: relative;
  text-transform: uppercase; }
  .node-blog-article-full__field-comments-title span, .node-blog-article-full__field-comments-form-title span {
    background: white;
    position: relative;
    z-index: 10;
    padding: 0 16px; }
  .node-blog-article-full__field-comments-title::before, .node-blog-article-full__field-comments-form-title::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 1px);
    z-index: 10; }

.node-blog-article-full__field-comments-content {
  margin-bottom: 24px; }
  .node-blog-article-full__field-comments-content .indented {
    margin-left: 48px; }

.node-blog-article-full .comment-comment-full {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e0e0e0; }

.node-blog-article-full__field-comments-content > .comment-comment-full:last-child {
  border-bottom: unset;
  margin-bottom: unset;
  padding-bottom: unset; }

.node-blog-article-teaser__field-promo-image {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px; }

.node-blog-article-teaser__field-tags {
  font-size: 14px;
  display: -webkit-box;
  display: flex;
  margin-bottom: 16px; }

.node-blog-article-teaser__field-tags-item {
  margin-right: 8px; }
  .node-blog-article-teaser__field-tags-item:last-child {
    margin-right: 0; }

.node-blog-article-teaser__field-tags-item a {
  display: block;
  background: #405efa;
  color: white;
  border-radius: 2px;
  padding: 0 8px; }

.node-blog-article-teaser__title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 16px; }
  .node-blog-article-teaser__title a {
    color: #333333; }
    .node-blog-article-teaser__title a:hover {
      color: #405efa; }

.node-blog-article-teaser__meta {
  font-size: 14px;
  color: #757575;
  display: -webkit-box;
  display: flex; }

.node-blog-article-teaser__created {
  margin-right: 16px; }
  .node-blog-article-teaser__created:before {
    content: "\F0F0";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }

.node-blog-article-teaser__estimated-read-time:before {
  content: "\F150";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0.4em; }

.node-page-full__field-paragraphs-item {
  margin-bottom: 32px; }

.comment-comment-full {
  display: -webkit-box;
  display: flex;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px; }
  .comment-comment-full__left {
    width: 40px;
    margin-right: 16px; }
  .comment-comment-full__right {
    width: calc(100% - 40px - 16px); }
  .comment-comment-full__letter-avatar {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 22px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    z-index: 10; }
    .comment-comment-full__letter-avatar::before {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.1)));
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
      background-repeat: repeat-x;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 5; }
  .comment-comment-full__header-item {
    margin-right: 8px; }
  .comment-comment-full__header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 8px; }
  .comment-comment-full__new {
    font-size: 10px;
    font-weight: bold;
    padding: 2px 8px;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    background-color: #8b9dfc; }
  .comment-comment-full__homepage {
    background-image: linear-gradient(45deg, rgba(64, 94, 250, 0.3), #757575);
    background-repeat: repeat-x;
    font-size: 10px;
    font-weight: bold;
    display: -webkit-inline-box;
    display: inline-flex;
    padding: 2px 8px;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
  .comment-comment-full .username {
    color: #000000;
    font-weight: bold; }
  .comment-comment-full__footer {
    display: -webkit-box;
    display: flex;
    margin-top: 8px;
    font-size: 14px; }
  .comment-comment-full__footer-item {
    margin-right: 8px; }
  .comment-comment-full .links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: flex; }
    .comment-comment-full .links li {
      margin-left: 8px; }
      .comment-comment-full .links li a {
        color: #757575; }
        .comment-comment-full .links li a:hover {
          color: #424242; }
      .comment-comment-full .links li:first-child {
        margin-left: unset; }
  .comment-comment-full__created {
    color: #9e9e9e; }

.paragraph-style--title-bold .paragraph-title {
  font-weight: bold; }

.paragraph-style--title-centered {
  text-align: center; }

.paragraph-style--style-black {
  background: #212121;
  color: white;
  padding: 32px; }

.paragraph-image-and-text__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.paragraph-image-and-text__field-title {
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  width: 100%; }

.paragraph-image-and-text--image-size-4-12-left .paragraph-image-and-text__field-image {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12)); }

.paragraph-image-and-text--image-size-4-12-left .paragraph-image-and-text__field-image:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-image-and-text--image-size-4-12-left .paragraph-image-and-text__field-image:last-child {
  margin-right: 0; }

.paragraph-image-and-text--image-size-4-12-left .paragraph-image-and-text__field-image:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-image-and-text--image-size-4-12-left .paragraph-image-and-text__field-body {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 8/12 - (30px - 30px * 8/12));
  max-width: calc(100% * 8/12 - (30px - 30px * 8/12));
  width: calc(100% * 8/12 - (30px - 30px * 8/12)); }

.paragraph-image-and-text--image-size-4-12-left .paragraph-image-and-text__field-body:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-image-and-text--image-size-4-12-left .paragraph-image-and-text__field-body:last-child {
  margin-right: 0; }

.paragraph-image-and-text--image-size-4-12-left .paragraph-image-and-text__field-body:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-image-and-text--image-size-6-12-left .paragraph-image-and-text__field-image {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
  max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
  width: calc(100% * 6/12 - (30px - 30px * 6/12)); }

.paragraph-image-and-text--image-size-6-12-left .paragraph-image-and-text__field-image:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-image-and-text--image-size-6-12-left .paragraph-image-and-text__field-image:last-child {
  margin-right: 0; }

.paragraph-image-and-text--image-size-6-12-left .paragraph-image-and-text__field-image:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-image-and-text--image-size-6-12-left .paragraph-image-and-text__field-body {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
  max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
  width: calc(100% * 6/12 - (30px - 30px * 6/12)); }

.paragraph-image-and-text--image-size-6-12-left .paragraph-image-and-text__field-body:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-image-and-text--image-size-6-12-left .paragraph-image-and-text__field-body:last-child {
  margin-right: 0; }

.paragraph-image-and-text--image-size-6-12-left .paragraph-image-and-text__field-body:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-image-and-text--image-size-8-12-left .paragraph-image-and-text__field-image {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 8/12 - (30px - 30px * 8/12));
  max-width: calc(100% * 8/12 - (30px - 30px * 8/12));
  width: calc(100% * 8/12 - (30px - 30px * 8/12)); }

.paragraph-image-and-text--image-size-8-12-left .paragraph-image-and-text__field-image:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-image-and-text--image-size-8-12-left .paragraph-image-and-text__field-image:last-child {
  margin-right: 0; }

.paragraph-image-and-text--image-size-8-12-left .paragraph-image-and-text__field-image:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-image-and-text--image-size-8-12-left .paragraph-image-and-text__field-body {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12)); }

.paragraph-image-and-text--image-size-8-12-left .paragraph-image-and-text__field-body:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-image-and-text--image-size-8-12-left .paragraph-image-and-text__field-body:last-child {
  margin-right: 0; }

.paragraph-image-and-text--image-size-8-12-left .paragraph-image-and-text__field-body:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-image-and-text--image-size-4-12-right .paragraph-image-and-text__field-image {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12));
  position: relative;
  left: calc(100% * 8/12 - (30px - 30px * 8/12) + 30px); }

.paragraph-image-and-text--image-size-4-12-right .paragraph-image-and-text__field-image:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-image-and-text--image-size-4-12-right .paragraph-image-and-text__field-image:last-child {
  margin-right: 0; }

.paragraph-image-and-text--image-size-4-12-right .paragraph-image-and-text__field-image:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-image-and-text--image-size-4-12-right .paragraph-image-and-text__field-body {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 8/12 - (30px - 30px * 8/12));
  max-width: calc(100% * 8/12 - (30px - 30px * 8/12));
  width: calc(100% * 8/12 - (30px - 30px * 8/12));
  position: relative;
  left: calc(100% * -4/12 - (30px - 30px * -4/12) + 30px); }

.paragraph-image-and-text--image-size-4-12-right .paragraph-image-and-text__field-body:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-image-and-text--image-size-4-12-right .paragraph-image-and-text__field-body:last-child {
  margin-right: 0; }

.paragraph-image-and-text--image-size-4-12-right .paragraph-image-and-text__field-body:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-image-and-text--image-size-6-12-right .paragraph-image-and-text__field-image {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
  max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
  width: calc(100% * 6/12 - (30px - 30px * 6/12));
  position: relative;
  left: calc(100% * 6/12 - (30px - 30px * 6/12) + 30px); }

.paragraph-image-and-text--image-size-6-12-right .paragraph-image-and-text__field-image:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-image-and-text--image-size-6-12-right .paragraph-image-and-text__field-image:last-child {
  margin-right: 0; }

.paragraph-image-and-text--image-size-6-12-right .paragraph-image-and-text__field-image:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-image-and-text--image-size-6-12-right .paragraph-image-and-text__field-body {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
  max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
  width: calc(100% * 6/12 - (30px - 30px * 6/12));
  position: relative;
  left: calc(100% * -6/12 - (30px - 30px * -6/12) + 30px); }

.paragraph-image-and-text--image-size-6-12-right .paragraph-image-and-text__field-body:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-image-and-text--image-size-6-12-right .paragraph-image-and-text__field-body:last-child {
  margin-right: 0; }

.paragraph-image-and-text--image-size-6-12-right .paragraph-image-and-text__field-body:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-image-and-text--image-size-8-12-right .paragraph-image-and-text__field-image {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 8/12 - (30px - 30px * 8/12));
  max-width: calc(100% * 8/12 - (30px - 30px * 8/12));
  width: calc(100% * 8/12 - (30px - 30px * 8/12));
  position: relative;
  left: calc(100% * 4/12 - (30px - 30px * 4/12) + 30px); }

.paragraph-image-and-text--image-size-8-12-right .paragraph-image-and-text__field-image:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-image-and-text--image-size-8-12-right .paragraph-image-and-text__field-image:last-child {
  margin-right: 0; }

.paragraph-image-and-text--image-size-8-12-right .paragraph-image-and-text__field-image:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-image-and-text--image-size-8-12-right .paragraph-image-and-text__field-body {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12));
  position: relative;
  left: calc(100% * -8/12 - (30px - 30px * -8/12) + 30px); }

.paragraph-image-and-text--image-size-8-12-right .paragraph-image-and-text__field-body:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0; }

.paragraph-image-and-text--image-size-8-12-right .paragraph-image-and-text__field-body:last-child {
  margin-right: 0; }

.paragraph-image-and-text--image-size-8-12-right .paragraph-image-and-text__field-body:nth-child(12n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-gallery__field-gallery {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.paragraph-gallery--images-pre-row-4 .paragraph-gallery__field-gallery-item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 3/12 - (30px - 30px * 3/12));
  width: calc(100% * 3/12 - (30px - 30px * 3/12));
  max-width: calc(100% * 3/12 - (30px - 30px * 3/12));
  height: calc(100% * 3/12 - (30px - 30px * 3/12)); }

.paragraph-gallery--images-pre-row-4 .paragraph-gallery__field-gallery-item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.paragraph-gallery--images-pre-row-4 .paragraph-gallery__field-gallery-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.paragraph-gallery--images-pre-row-4 .paragraph-gallery__field-gallery-item:nth-child(4n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-gallery--images-pre-row-4 .paragraph-gallery__field-gallery-item:nth-last-child(-n + 4) {
  margin-bottom: 0; }

.paragraph-gallery--images-pre-row-3 .paragraph-gallery__field-gallery-item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  height: calc(100% * 4/12 - (30px - 30px * 4/12)); }

.paragraph-gallery--images-pre-row-3 .paragraph-gallery__field-gallery-item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.paragraph-gallery--images-pre-row-3 .paragraph-gallery__field-gallery-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.paragraph-gallery--images-pre-row-3 .paragraph-gallery__field-gallery-item:nth-child(3n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-gallery--images-pre-row-3 .paragraph-gallery__field-gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0; }

.paragraph-gallery--images-pre-row-2 .paragraph-gallery__field-gallery-item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
  width: calc(100% * 6/12 - (30px - 30px * 6/12));
  max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
  height: calc(100% * 6/12 - (30px - 30px * 6/12)); }

.paragraph-gallery--images-pre-row-2 .paragraph-gallery__field-gallery-item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.paragraph-gallery--images-pre-row-2 .paragraph-gallery__field-gallery-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.paragraph-gallery--images-pre-row-2 .paragraph-gallery__field-gallery-item:nth-child(2n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-gallery--images-pre-row-2 .paragraph-gallery__field-gallery-item:nth-last-child(-n + 2) {
  margin-bottom: 0; }

.paragraph-code__content {
  border: 1px solid #e0e0e0;
  border-radius: 4px; }

.paragraph-code__field-title {
  background: #f5f5f5;
  padding: 8px 16px;
  font-weight: bold;
  overflow: hidden; }
  .paragraph-code__field-title:before {
    content: "\F169";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }

.paragraph-code__filed-body {
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
  background: white; }

.paragraph-code pre {
  margin: 0;
  padding: 0; }
  .paragraph-code pre code {
    position: relative;
    padding: 16px 24px; }

.paragraph-code .hljs {
  font-size: 16px; }

.paragraph-code__highlight-line {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(64, 94, 250, 0.1)), to(rgba(117, 117, 117, 0.1)));
  background-image: linear-gradient(to right, rgba(64, 94, 250, 0.1) 0%, rgba(117, 117, 117, 0.1) 100%);
  background-repeat: repeat-x;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10; }

.paragraph-remote-video--video-width-720px .paragraph-remote-video__field-remote-video {
  max-width: 720px;
  margin: 0 auto; }

.paragraph-gallery-remote-video__field-remote-videos {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.paragraph-gallery-remote-video--videos-pre-row-4 .paragraph-gallery-remote-video__field-remote-videos-item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 3/12 - (30px - 30px * 3/12));
  width: calc(100% * 3/12 - (30px - 30px * 3/12));
  max-width: calc(100% * 3/12 - (30px - 30px * 3/12));
  height: calc(100% * 3/12 - (30px - 30px * 3/12)); }

.paragraph-gallery-remote-video--videos-pre-row-4 .paragraph-gallery-remote-video__field-remote-videos-item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.paragraph-gallery-remote-video--videos-pre-row-4 .paragraph-gallery-remote-video__field-remote-videos-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.paragraph-gallery-remote-video--videos-pre-row-4 .paragraph-gallery-remote-video__field-remote-videos-item:nth-child(4n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-gallery-remote-video--videos-pre-row-4 .paragraph-gallery-remote-video__field-remote-videos-item:nth-last-child(-n + 4) {
  margin-bottom: 0; }

.paragraph-gallery-remote-video--videos-pre-row-3 .paragraph-gallery-remote-video__field-remote-videos-item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  height: calc(100% * 4/12 - (30px - 30px * 4/12)); }

.paragraph-gallery-remote-video--videos-pre-row-3 .paragraph-gallery-remote-video__field-remote-videos-item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.paragraph-gallery-remote-video--videos-pre-row-3 .paragraph-gallery-remote-video__field-remote-videos-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.paragraph-gallery-remote-video--videos-pre-row-3 .paragraph-gallery-remote-video__field-remote-videos-item:nth-child(3n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-gallery-remote-video--videos-pre-row-3 .paragraph-gallery-remote-video__field-remote-videos-item:nth-last-child(-n + 3) {
  margin-bottom: 0; }

.paragraph-gallery-remote-video--videos-pre-row-2 .paragraph-gallery-remote-video__field-remote-videos-item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
  width: calc(100% * 6/12 - (30px - 30px * 6/12));
  max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
  height: calc(100% * 6/12 - (30px - 30px * 6/12)); }

.paragraph-gallery-remote-video--videos-pre-row-2 .paragraph-gallery-remote-video__field-remote-videos-item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.paragraph-gallery-remote-video--videos-pre-row-2 .paragraph-gallery-remote-video__field-remote-videos-item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.paragraph-gallery-remote-video--videos-pre-row-2 .paragraph-gallery-remote-video__field-remote-videos-item:nth-child(2n) {
  margin-right: 0;
  margin-left: auto; }

.paragraph-gallery-remote-video--videos-pre-row-2 .paragraph-gallery-remote-video__field-remote-videos-item:nth-last-child(-n + 2) {
  margin-bottom: 0; }

.media-remote-video__field-media-oembed-video {
  position: relative;
  height: 0;
  padding-bottom: 56.4%; }

.media-remote-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.header {
  position: relative;
  z-index: 50; }
  .header__top {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    -webkit-box-align: center;
            align-items: center;
    position: relative;
    z-index: 20; }
    @media (min-width: 468px) {
      .header__top {
        width: 420px;
        max-width: 100%; } }
    @media (min-width: 768px) {
      .header__top {
        width: 720px;
        max-width: 100%; } }
    @media (min-width: 992px) {
      .header__top {
        width: 960px;
        max-width: 100%; } }
    @media (min-width: 1200px) {
      .header__top {
        width: 1140px;
        max-width: 100%; } }
    @media (min-width: 468px) {
      .header__top {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 768px) {
      .header__top {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 992px) {
      .header__top {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 1200px) {
      .header__top {
        padding-right: 15px;
        padding-left: 15px; } }
  .header .block-system-branding-block {
    margin-right: 30px; }

.footer {
  background: #f5f5f5;
  padding: 40px 0;
  position: relative;
  z-index: 20; }
  .footer__content {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px; }
    @media (min-width: 468px) {
      .footer__content {
        width: 420px;
        max-width: 100%; } }
    @media (min-width: 768px) {
      .footer__content {
        width: 720px;
        max-width: 100%; } }
    @media (min-width: 992px) {
      .footer__content {
        width: 960px;
        max-width: 100%; } }
    @media (min-width: 1200px) {
      .footer__content {
        width: 1140px;
        max-width: 100%; } }
    @media (min-width: 468px) {
      .footer__content {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 768px) {
      .footer__content {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 992px) {
      .footer__content {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 1200px) {
      .footer__content {
        padding-right: 15px;
        padding-left: 15px; } }
  .footer .block-footer, .footer .footer-social, .footer__copyright {
    margin-bottom: 32px; }
  .footer__copyright {
    text-transform: uppercase;
    text-align: center;
    color: #616161;
    font-size: 14px;
    margin-bottom: 16px; }
  .footer__top {
    display: table;
    margin: 0 auto;
    font-size: 13px;
    color: grey; }
    .footer__top:before {
      content: "\F360";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0; }
    .footer__top::before {
      font-size: 24px;
      position: relative;
      top: 4px; }

.footer-social__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center; }

.footer-social__item {
  margin: 0 16px; }

.footer-social__link {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #405efa;
  box-shadow: 0 2px 4px rgba(64, 94, 250, 0.35);
  color: white;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  .footer-social__link:hover {
    background: #757575;
    box-shadow: 0 2px 4px rgba(117, 117, 117, 0.35); }

.footer-social__link--facebook:before {
  content: "\F20C";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.footer-social__link--vk:before {
  content: "\F579";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.footer-social__link--twitter:before {
  content: "\F544";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.footer-social__link--youtube:before {
  content: "\F5C3";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.footer-social__link--instagram:before {
  content: "\F2FE";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.footer-social__link--linkedin:before {
  content: "\F33B";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.taxonomy-term-tags-teaser__link {
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 100%; }
  .taxonomy-term-tags-teaser__link::before {
    position: absolute;
    content: '';
    display: block;
    z-index: 10;
    top: 8px;
    right: 8px;
    left: 8px;
    bottom: 8px;
    border: 1px solid #ffffff; }
  .taxonomy-term-tags-teaser__link:hover::before {
    border-color: #757575;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease; }
  .taxonomy-term-tags-teaser__link:hover .taxonomy-term-tags-teaser__title {
    background-color: #757575;
    color: #ffffff;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease; }

.taxonomy-term-tags-teaser__promo-image {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

.taxonomy-term-tags-teaser__title {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  color: #333333;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  padding: 4px 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px; }

.dlog-hero {
  position: relative;
  margin-top: -42px;
  min-height: 600px;
  padding-bottom: 100px;
  z-index: 0;
  overflow: hidden; }
  .dlog-hero__content {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    z-index: 10;
    top: 150px;
    padding-bottom: 145px; }
    @media (min-width: 468px) {
      .dlog-hero__content {
        width: 420px;
        max-width: 100%; } }
    @media (min-width: 768px) {
      .dlog-hero__content {
        width: 720px;
        max-width: 100%; } }
    @media (min-width: 992px) {
      .dlog-hero__content {
        width: 960px;
        max-width: 100%; } }
    @media (min-width: 1200px) {
      .dlog-hero__content {
        width: 1140px;
        max-width: 100%; } }
    @media (min-width: 468px) {
      .dlog-hero__content {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 768px) {
      .dlog-hero__content {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 992px) {
      .dlog-hero__content {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 1200px) {
      .dlog-hero__content {
        padding-right: 15px;
        padding-left: 15px; } }
  .dlog-hero__title {
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    font-size: 58px;
    font-weight: bold; }
  .dlog-hero__image {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .dlog-hero__video {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .dlog-hero__subtitle {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
    max-width: 600px; }
  .dlog-hero::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 20;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#373B44), to(rgba(66, 134, 244, 0.2)));
    background-image: linear-gradient(to bottom, #373B44 0%, rgba(66, 134, 244, 0.2) 100%);
    background-repeat: repeat-x; }
  .dlog-hero__tags {
    display: -webkit-box;
    display: flex;
    margin-bottom: 16px; }
  .dlog-hero__tag {
    display: block;
    background: #405efa;
    background: white;
    border-radius: 4px;
    padding: 4px 16px;
    font-size: 14px;
    margin-right: 8px; }
    .dlog-hero__tag:hover {
      background: rgba(255, 255, 255, 0.7); }

.previous-next {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  .previous-next__previous, .previous-next__next {
    width: 47%; }

.previous-next--blog-article .previous-next__previous, .previous-next--blog-article .previous-next__next {
  border-radius: 8px;
  overflow: hidden; }

.previous-next--blog-article .previous-next__link {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 16px 32px;
  height: 100%;
  position: relative;
  color: rgba(255, 255, 255, 0.9);
  background: #fafafa; }

.previous-next--blog-article .previous-next__promo-image {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  z-index: 0; }
  .previous-next--blog-article .previous-next__promo-image::before {
    background-image: linear-gradient(45deg, rgba(64, 94, 250, 0.3), rgba(117, 117, 117, 0.3));
    background-repeat: repeat-x;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.previous-next--blog-article .previous-next__icon {
  position: relative;
  z-index: 10;
  font-size: 34px; }
  .previous-next--blog-article .previous-next__icon--previous {
    margin-right: 32px; }
    .previous-next--blog-article .previous-next__icon--previous:before {
      content: "\F050";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0; }
  .previous-next--blog-article .previous-next__icon--next {
    margin-left: 32px; }
    .previous-next--blog-article .previous-next__icon--next:before {
      content: "\F057";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0; }

.previous-next--blog-article .previous-next__content {
  position: relative;
  z-index: 10; }
  .previous-next--blog-article .previous-next__content--next {
    text-align: right;
    margin-left: auto; }

.previous-next--blog-article .previous-next_tag {
  color: #757575;
  font-weight: bold; }
  .previous-next--blog-article .previous-next_tag:not(:last-child)::after {
    content: ',';
    display: inline; }

.dlog-social-share {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }
  .dlog-social-share__label {
    color: #757575;
    font-size: 24px;
    margin-right: 16px; }
  .dlog-social-share__links {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }
  .dlog-social-share__link {
    font-size: 20px;
    background: #f5f5f5;
    margin-left: 8px;
    line-height: 40px;
    width: 40px;
    text-align: center; }
    .dlog-social-share__link:first-child {
      margin-left: 0; }
    .dlog-social-share__link:hover {
      opacity: 0.4; }
  .dlog-social-share__link--facebook {
    background-color: #3b5999;
    color: white; }
    .dlog-social-share__link--facebook:before {
      content: "\F20C";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0; }
  .dlog-social-share__link--vk {
    background-color: #4a76a8;
    color: white; }
    .dlog-social-share__link--vk:before {
      content: "\F579";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0; }
  .dlog-social-share__link--twitter {
    background-color: #1da1f2;
    color: white; }
    .dlog-social-share__link--twitter:before {
      content: "\F544";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0; }
  .dlog-social-share__link--telegram {
    background-color: #0088cc;
    color: white; }
    .dlog-social-share__link--telegram:before {
      content: "\F501";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0; }

.dlog-label-with-icon-media-formatter {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }
  .dlog-label-with-icon-media-formatter__icon {
    margin-right: 8px;
    -webkit-box-flex: 0;
            flex: 0 0 70px;
    width: 70px; }
    .dlog-label-with-icon-media-formatter__icon svg {
      width: 100%; }
  .dlog-label-with-icon-media-formatter__label {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 4px; }
  .dlog-label-with-icon-media-formatter__filesize {
    color: #757575;
    font-size: 14px; }

.dlog-blog-related-posts__title {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
  position: relative;
  text-transform: uppercase; }
  .dlog-blog-related-posts__title span {
    background: white;
    position: relative;
    z-index: 10;
    padding: 0 16px; }
  .dlog-blog-related-posts__title::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 1px);
    z-index: 10; }

.dlog-blog-related-posts__items {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.dlog-blog-related-posts__item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 3/12 - (30px - 30px * 3/12));
  width: calc(100% * 3/12 - (30px - 30px * 3/12));
  max-width: calc(100% * 3/12 - (30px - 30px * 3/12));
  height: calc(100% * 3/12 - (30px - 30px * 3/12)); }

.dlog-blog-related-posts__item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.dlog-blog-related-posts__item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.dlog-blog-related-posts__item:nth-child(4n) {
  margin-right: 0;
  margin-left: auto; }

.dlog-blog-related-posts__item:nth-last-child(-n + 4) {
  margin-bottom: 0; }

.dlog-blog-random-posts__title {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
  position: relative;
  text-transform: uppercase; }
  .dlog-blog-random-posts__title span {
    background: white;
    position: relative;
    z-index: 10;
    padding: 0 16px; }
  .dlog-blog-random-posts__title::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 1px);
    z-index: 10; }

.dlog-blog-random-posts__items {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.dlog-blog-random-posts__item {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 3/12 - (30px - 30px * 3/12));
  width: calc(100% * 3/12 - (30px - 30px * 3/12));
  max-width: calc(100% * 3/12 - (30px - 30px * 3/12));
  height: calc(100% * 3/12 - (30px - 30px * 3/12)); }

.dlog-blog-random-posts__item:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.dlog-blog-random-posts__item:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.dlog-blog-random-posts__item:nth-child(4n) {
  margin-right: 0;
  margin-left: auto; }

.dlog-blog-random-posts__item:nth-last-child(-n + 4) {
  margin-bottom: 0; }

.view-blog-articles-page-1__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.view-blog-articles-page-1__row {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 4/12 - (30px - 30px * 4/12));
  width: calc(100% * 4/12 - (30px - 30px * 4/12));
  max-width: calc(100% * 4/12 - (30px - 30px * 4/12));
  height: calc(100% * 4/12 - (30px - 30px * 4/12)); }

.view-blog-articles-page-1__row:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.view-blog-articles-page-1__row:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.view-blog-articles-page-1__row:nth-child(3n) {
  margin-right: 0;
  margin-left: auto; }

.view-blog-articles-page-1__row:nth-last-child(-n + 3) {
  margin-bottom: 0; }

.view-blog-articles-in-tag__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.view-blog-articles-in-tag__row {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 3/12 - (30px - 30px * 3/12));
  width: calc(100% * 3/12 - (30px - 30px * 3/12));
  max-width: calc(100% * 3/12 - (30px - 30px * 3/12));
  height: calc(100% * 3/12 - (30px - 30px * 3/12)); }

.view-blog-articles-in-tag__row:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.view-blog-articles-in-tag__row:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.view-blog-articles-in-tag__row:nth-child(4n) {
  margin-right: 0;
  margin-left: auto; }

.view-blog-articles-in-tag__row:nth-last-child(-n + 4) {
  margin-bottom: 0; }

.view-blog-articles-frontpage-articles__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.view-blog-articles-frontpage-articles__row {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 2/10 - (30px - 30px * 2/10));
  width: calc(100% * 2/10 - (30px - 30px * 2/10));
  max-width: calc(100% * 2/10 - (30px - 30px * 2/10));
  height: calc(100% * 2/10 - (30px - 30px * 2/10)); }

.view-blog-articles-frontpage-articles__row:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.view-blog-articles-frontpage-articles__row:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.view-blog-articles-frontpage-articles__row:nth-child(5n) {
  margin-right: 0;
  margin-left: auto; }

.view-blog-articles-frontpage-articles__row:nth-last-child(-n + 5) {
  margin-bottom: 0; }

.view-tags-page-tags__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.view-tags-page-tags__row {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 2/10 - (30px - 30px * 2/10));
  width: calc(100% * 2/10 - (30px - 30px * 2/10));
  max-width: calc(100% * 2/10 - (30px - 30px * 2/10));
  height: calc(100% * 2/10 - (30px - 30px * 2/10)); }

.view-tags-page-tags__row:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.view-tags-page-tags__row:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.view-tags-page-tags__row:nth-child(5n) {
  margin-right: 0;
  margin-left: auto; }

.view-tags-page-tags__row:nth-last-child(-n + 5) {
  margin-bottom: 0; }

.view-blog-articles-in-tag__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap; }

.view-blog-articles-in-tag__row {
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% * 3/12 - (30px - 30px * 3/12));
  width: calc(100% * 3/12 - (30px - 30px * 3/12));
  max-width: calc(100% * 3/12 - (30px - 30px * 3/12));
  height: calc(100% * 3/12 - (30px - 30px * 3/12)); }

.view-blog-articles-in-tag__row:nth-child(1n) {
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 0; }

.view-blog-articles-in-tag__row:last-child {
  margin-right: 0;
  margin-bottom: 0; }

.view-blog-articles-in-tag__row:nth-child(4n) {
  margin-right: 0;
  margin-left: auto; }

.view-blog-articles-in-tag__row:nth-last-child(-n + 4) {
  margin-bottom: 0; }

.main-layout {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  z-index: 60; }
  @media (min-width: 468px) {
    .main-layout {
      width: 420px;
      max-width: 100%; } }
  @media (min-width: 768px) {
    .main-layout {
      width: 720px;
      max-width: 100%; } }
  @media (min-width: 992px) {
    .main-layout {
      width: 960px;
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .main-layout {
      width: 1140px;
      max-width: 100%; } }
  @media (min-width: 468px) {
    .main-layout {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 768px) {
    .main-layout {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 992px) {
    .main-layout {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (min-width: 1200px) {
    .main-layout {
      padding-right: 15px;
      padding-left: 15px; } }
  .main-layout__inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    padding: 48px 24px;
    background: white;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
    margin-top: -100px; }
  .main-layout--sidebar-first .region-content {
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% * 9/12 - (30px - 30px * 9/12));
    max-width: calc(100% * 9/12 - (30px - 30px * 9/12));
    width: calc(100% * 9/12 - (30px - 30px * 9/12)); }
  .main-layout--sidebar-first .region-content:nth-child(1n) {
    margin-right: 30px;
    margin-left: 0; }
  .main-layout--sidebar-first .region-content:last-child {
    margin-right: 0; }
  .main-layout--sidebar-first .region-content:nth-child(12n) {
    margin-right: 0;
    margin-left: auto; }
  .main-layout--sidebar-first .region-sidebar-first {
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% * 3/12 - (30px - 30px * 3/12));
    max-width: calc(100% * 3/12 - (30px - 30px * 3/12));
    width: calc(100% * 3/12 - (30px - 30px * 3/12)); }
  .main-layout--sidebar-first .region-sidebar-first:nth-child(1n) {
    margin-right: 30px;
    margin-left: 0; }
  .main-layout--sidebar-first .region-sidebar-first:last-child {
    margin-right: 0; }
  .main-layout--sidebar-first .region-sidebar-first:nth-child(12n) {
    margin-right: 0;
    margin-left: auto; }

.app {
  background: #fafafa; }

.region-content {
  width: 100%; }

.front-page {
  margin-top: -42px;
  position: relative; }
  .front-page__container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px; }
    @media (min-width: 468px) {
      .front-page__container {
        width: 420px;
        max-width: 100%; } }
    @media (min-width: 768px) {
      .front-page__container {
        width: 720px;
        max-width: 100%; } }
    @media (min-width: 992px) {
      .front-page__container {
        width: 960px;
        max-width: 100%; } }
    @media (min-width: 1200px) {
      .front-page__container {
        width: 1140px;
        max-width: 100%; } }
    @media (min-width: 468px) {
      .front-page__container {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 768px) {
      .front-page__container {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 992px) {
      .front-page__container {
        padding-right: 15px;
        padding-left: 15px; } }
    @media (min-width: 1200px) {
      .front-page__container {
        padding-right: 15px;
        padding-left: 15px; } }
  .front-page__welcome {
    padding-top: 42px;
    position: relative; }
    .front-page__welcome::before {
      background-image: linear-gradient(125deg, rgba(117, 117, 117, 0.5), rgba(64, 94, 250, 0.5));
      background-repeat: repeat-x;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
  .front-page__welcome-video {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .front-page__welcome-inner {
    position: relative;
    padding: 160px 0;
    z-index: 5; }
  .front-page__welcome-title {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); }
  .front-page__welcome-description {
    color: #ffffff;
    margin-top: 48px;
    max-width: 600px;
    font-size: 18px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); }
  .front-page__search {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2); }
  .front-page__search-input {
    padding: 16px !important;
    border-radius: 4px 0 0 4px !important; }
  .front-page__search-submit {
    color: white;
    background-color: #405efa;
    background-image: none;
    background-image: -webkit-gradient(linear, left top, right top, from(#405efa), to(#0099F7));
    background-image: linear-gradient(to right, #405efa 0%, #0099F7 100%);
    background-repeat: repeat-x;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    border-radius: 0 4px 4px 0;
    padding: 17.6px 32px;
    text-transform: uppercase;
    font-weight: bold; }
    .front-page__search-submit:focus, .front-page__search-submit:hover {
      color: white;
      background-color: #0e34f9;
      border-color: transparent; }
    .front-page__search-submit:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(64, 94, 250, 0.5); }
    .front-page__search-submit:disabled {
      background-color: #405efa;
      border-color: transparent;
      opacity: .65; }
    .front-page__search-submit:active {
      color: white;
      background-color: #0e34f9;
      background-image: none;
      border-color: transparent;
      box-shadow: 0 0 0 3px rgba(64, 94, 250, 0.5); }
  .front-page__author {
    position: relative; }
  .front-page__author_bg {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center bottom;
       object-position: center bottom; }
  .front-page__author-inner {
    position: relative;
    padding: 240px 0 80px;
    z-index: 5; }
  .front-page__author-avatar {
    display: table;
    margin: 0 auto 32px;
    border-radius: 100%;
    border: 30px solid #eeeeee; }
  .front-page__author-hello {
    text-align: center;
    font-weight: bold; }
  .front-page__author-name {
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 24px; }
  .front-page__author-about {
    max-width: 800px;
    color: #757575;
    margin: 0 auto;
    text-align: center; }
  .front-page__author-more {
    text-align: center;
    display: table;
    margin: 0 auto;
    padding-top: 20px;
    color: #757575; }
    .front-page__author-more:after {
      content: "\F054";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-left: 0.4em; }
    .front-page__author-more:hover {
      color: #405efa; }
  .front-page__articles {
    padding: 80px 0; }
  .front-page__articles-title {
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 48px; }
  .front-page__articles-more {
    color: white;
    background-color: #0099F7;
    background-image: none;
    background-image: -webkit-gradient(linear, left top, right top, from(#405efa), to(#0099F7));
    background-image: linear-gradient(to right, #405efa 0%, #0099F7 100%);
    background-repeat: repeat-x;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    display: table;
    margin: 48px auto 0; }
    .front-page__articles-more:after {
      content: "\F054";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-left: 0.4em; }
    .front-page__articles-more:focus, .front-page__articles-more:hover {
      color: white;
      background-color: #0079c4;
      border-color: transparent; }
    .front-page__articles-more:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(0, 153, 247, 0.5); }
    .front-page__articles-more:disabled {
      background-color: #0099F7;
      border-color: transparent;
      opacity: .65; }
    .front-page__articles-more:active {
      color: white;
      background-color: #0079c4;
      background-image: none;
      border-color: transparent;
      box-shadow: 0 0 0 3px rgba(0, 153, 247, 0.5); }

.contact-page {
  margin-top: -42px;
  position: relative; }
  .contact-page__inner {
    display: -webkit-box;
    display: flex;
    max-height: 100vh; }
  .contact-page__left {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(deg, 135), color-stop(#e0e0e0), to(white));
    background-image: linear-gradient(135 deg, #e0e0e0, white);
    background-repeat: repeat-x;
    position: relative;
    width: 50%;
    padding: 160px 80px;
    overflow: auto; }
  .contact-page__right {
    padding-top: 42px;
    width: 50%;
    position: relative; }
    .contact-page__right::before {
      background-image: linear-gradient(125deg, rgba(117, 117, 117, 0.5), rgba(64, 94, 250, 0.5));
      background-repeat: repeat-x;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10; }
  .contact-page__contact-video {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .contact-page__title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .contact-page__lets-talk {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase; }
    .contact-page__lets-talk span {
      color: #405efa; }
  .contact-page__contact-items {
    margin-top: 24px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap; }
  .contact-page__contact-item {
    background-color: rgba(255, 255, 255, 0.05);
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
    width: calc(100% * 6/12 - (30px - 30px * 6/12));
    max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
    height: calc(100% * 6/12 - (30px - 30px * 6/12));
    padding: calc(16px + 16px + 40px);
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2); }
  .contact-page__contact-item:nth-child(1n) {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 0; }
  .contact-page__contact-item:last-child {
    margin-right: 0;
    margin-bottom: 0; }
  .contact-page__contact-item:nth-child(2n) {
    margin-right: 0;
    margin-left: auto; }
  .contact-page__contact-item:nth-last-child(-n + 2) {
    margin-bottom: 0; }
  .contact-page__contact-item-label {
    color: black;
    font-weight: bold; }
  .contact-page__contact-item-icon--address:before {
    content: "\F7D8";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .contact-page__contact-item-icon--email:before {
    content: "\F1F0";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .contact-page__contact-item-icon--phone:before {
    content: "\F3F2";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .contact-page__contact-item-icon--availability:before {
    content: "\F995";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .contact-page__contact-item-icon {
    color: #757575;
    position: absolute;
    left: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 40px; }
  .contact-page__contact-item-value {
    font-size: 16px; }
    .contact-page__contact-item-value a {
      color: #333333; }
  .contact-page__contact-form {
    margin-top: 48px; }
  .contact-page__contact-form-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 24px;
    margin-top: 16px;
    text-transform: uppercase; }
    .contact-page__contact-form-title span {
      color: #405efa; }

.about-page {
  margin-top: -42px;
  position: relative; }
  .about-page__inner {
    display: -webkit-box;
    display: flex;
    max-height: 100vh; }
  .about-page__left {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(deg, 135), color-stop(#e0e0e0), to(white));
    background-image: linear-gradient(135 deg, #e0e0e0, white);
    background-repeat: repeat-x;
    position: relative;
    width: 50%;
    padding: 160px 80px;
    overflow: auto; }
  .about-page__right {
    padding-top: 42px;
    width: 50%;
    position: relative; }
    .about-page__right::before {
      background-image: linear-gradient(125deg, rgba(117, 117, 117, 0.5), rgba(64, 94, 250, 0.5));
      background-repeat: repeat-x;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10; }
  .about-page__about-poster {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .about-page__title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .about-page__quote {
    max-width: 630px;
    display: table;
    margin: 0 auto; }
  .about-page__quote-cite {
    text-align: center;
    font-style: italic;
    font-weight: bold; }
  .about-page__quote-author {
    margin-top: 16px;
    text-align: right;
    font-style: italic;
    font-size: 20px; }
  .about-page__quote-signature {
    margin-top: 16px;
    float: right; }
  .about-page__skills {
    margin-bottom: 48px; }
  .about-page__skills-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 24px;
    margin-top: 16px;
    text-transform: uppercase; }
    .about-page__skills-title span {
      color: #405efa; }
  .about-page__skills-items {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap; }
  .about-page__skills-item {
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
    width: calc(100% * 6/12 - (30px - 30px * 6/12));
    max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
    height: calc(100% * 6/12 - (30px - 30px * 6/12));
    background-color: rgba(255, 255, 255, 0.05);
    padding: 16px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2); }
  .about-page__skills-item:nth-child(1n) {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 0; }
  .about-page__skills-item:last-child {
    margin-right: 0;
    margin-bottom: 0; }
  .about-page__skills-item:nth-child(2n) {
    margin-right: 0;
    margin-left: auto; }
  .about-page__skills-item:nth-last-child(-n + 2) {
    margin-bottom: 0; }
  .about-page__skills-item-title {
    color: #405efa;
    font-weight: bold;
    margin-bottom: 8px; }
  .about-page__skills-item-description {
    font-size: 16px; }
  .about-page__skills-item-icon--drupal:before {
    content: "\F1E4";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .about-page__skills-item-icon--php:before {
    content: "\F31F";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .about-page__skills-item-icon--html:before {
    content: "\F31D";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .about-page__skills-item-icon--css:before {
    content: "\F31C";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .about-page__skills-item-icon--js:before {
    content: "\F31E";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .about-page__skills-item-icon--server:before {
    content: "\F48B";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .about-page__skills-item-icon {
    color: #757575;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 8px; }
  .about-page__services {
    margin-bottom: 48px; }
  .about-page__services-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 24px;
    margin-top: 16px;
    text-transform: uppercase; }
    .about-page__services-title span {
      color: #405efa; }
  .about-page__prices {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    text-align: center; }
  .about-page__price {
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% * 6/12 - (30px - 30px * 6/12));
    width: calc(100% * 6/12 - (30px - 30px * 6/12));
    max-width: calc(100% * 6/12 - (30px - 30px * 6/12));
    height: calc(100% * 6/12 - (30px - 30px * 6/12));
    background-color: rgba(255, 255, 255, 0.05);
    padding: 16px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    height: auto; }
  .about-page__price:nth-child(1n) {
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 0; }
  .about-page__price:last-child {
    margin-right: 0;
    margin-bottom: 0; }
  .about-page__price:nth-child(2n) {
    margin-right: 0;
    margin-left: auto; }
  .about-page__price:nth-last-child(-n + 2) {
    margin-bottom: 0; }
  .about-page__price-price {
    margin-bottom: 8px; }
  .about-page__price-icon--hour-rate:before {
    content: "\F953";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .about-page__price-icon--audit:before {
    content: "\F9ED";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .about-page__price-icon {
    color: #757575;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 8px;
    text-align: center; }
  .about-page__price-title {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-bottom: 8px; }
  .about-page__price-price-amout {
    font-size: 28px;
    font-weight: bold; }
  .about-page__price-price-currency {
    color: #757575; }
  .about-page__price-price-for {
    color: #757575; }
    .about-page__price-price-for::before {
      content: '/';
      margin-right: 4px;
      display: inline-block; }
  .about-page__price-services {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    margin-bottom: 8px; }
  .about-page__prices-contact {
    display: block;
    padding: 8px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: auto -16px -16px -16px;
    border-radius: 0 0 10px 10px; }

/*# sourceMappingURL=maps/components.css.map */
