.view-blog-articles-page-1 {
  &__content {
    lost-flex-container: row;
  }

  &__row {
    lost-waffle: 4/12 3;
  }

}

.view-blog-articles-in-tag {
  &__content {
    lost-flex-container: row;
  }

  &__row {
    lost-waffle: 3/12 4;
  }
}


.view-blog-articles-frontpage-articles {
  &__content {
    lost-flex-container: row;
  }

  &__row {
    lost-waffle: 2/10 5;
  }
}

