.view-tags-page-tags {
  &__content {
    lost-flex-container: row;
  }

  &__row {
    lost-waffle: 2/10 5;
  }

}

.view-blog-articles-in-tag {
  &__content {
    lost-flex-container: row;
  }

  &__row {
    lost-waffle: 3/12 4;
  }
}
