$icons: (
  'drupal' : 'drupal',
  'php' : 'language-php',
  'html': 'language-html5',
  'css': 'language-css3',
  'js' : 'language-javascript',
  'server' : 'server'
);

$price_icons:(
  'hour-rate': 'clock',
  'audit': 'file-document-outline'
);



.about-page {
  margin-top: -42px;
  position: relative;

  &__inner {
    display: flex;
    max-height: 100vh;
  }

  &__left {
    @include gradient-directional(gray(300), white, 135 deg);
    position: relative;
    width: 50%;
    padding: gap(20) gap(10);
    overflow: auto;
  }

  &__right {
    padding-top: 42px;
    width: 50%;
    position: relative;

    &::before {
      @include gradient-directional(rgba(theme-color('secondary'), 0.5), rgba(theme-color(), 0.5), 125deg);
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
    }
  }

  &__about-poster {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.1;
    user-select: none;
  }

  &__quote {
    max-width: 630px;
    display: table;
    margin: 0 auto;
  }

  &__quote-cite {
    text-align: center;
    font-style: italic;
    font-weight: bold;
  }

  &__quote-author {
    margin-top: gap(2);
    text-align: right;
    font-style: italic;
    font-size: 20px;
  }

  &__quote-signature {
    margin-top: gap(2);
    float: right;
  }

  &__skills {
    margin-bottom: gap(6);
  }

  &__skills-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: gap(3);
    margin-top: gap(2);
    text-transform: uppercase;
    span {
      color: theme-color();
    }
  }

  &__skills-items {
    lost-flex-container: row;
  }

  &__skills-item {
    lost-waffle: 6/12 2;
    background-color: rgba(#ffffff, 0.05);
    padding: gap(2);
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 50px rgba(black, 0.2);
  }

  &__skills-item-title {
    color: theme-color();
    font-weight: bold;
    margin-bottom: gap();
  }

  &__skills-item-description {
    font-size: 16px;
  }

  @each $modifier, $icon in $icons {
    &__skills-item-icon--#{$modifier} {
      @include mdi-icon($icon, before, 0)
    }
  }

  &__skills-item-icon {
    color: theme-color('secondary');
    font-size: 40px;
    line-height: 1;
    margin-bottom: gap();
  }

  &__services {
    margin-bottom: gap(6);
  }

  &__services-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: gap(3);
    margin-top: gap(2);
    text-transform: uppercase;
    span {
      color: theme-color();
    }
  }

  &__prices {
    lost-flex-container: row;
    text-align: center;
  }

  &__price {
    lost-waffle: 6/12 2;
    background-color: rgba(#ffffff, 0.05);
    padding: gap(2);
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 50px rgba(black, 0.2);
    height: auto;
    //display: flex;
    //flex-direction: column;
  }

  &__price-price {
    margin-bottom: gap();
  }

  @each $modifier, $icon in $price_icons {
    &__price-icon--#{$modifier} {
      @include mdi-icon($icon, before, 0)
    }
  }

  &__price-icon {
    color: theme-color('secondary');
    font-size: 40px;
    line-height: 1;
    margin-bottom: gap();
    text-align: center;
  }

  &__price-title {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-bottom: gap();
  }

  &__price-price-amout {
    font-size: 28px;
    font-weight: bold;
  }

  &__price-price-currency {
    color: gray(600);
  }

  &__price-price-for {
    color: gray(600);

    &::before {
      content: '/';
      margin-right: 4px;
      display: inline-block;
    }
  }

  &__price-services {
    @include list-unstyled;
    font-size: 16px;
    margin-bottom: gap();
  }

  &__prices-contact {
    display: block;
    padding: gap();
    font-weight: bold;
    text-transform: uppercase;
    margin-top: auto #{gap(-2)} #{gap(-2)} #{gap(-2)};
    border-radius:  0 0 10px 10px;
  }
}


