$icons: (
  'address' : 'map-marker-outline',
  'email' : 'email-outline',
  'phone': 'phone',
  'availability' : 'progress-clock'
);

.contact-page {
  margin-top: -42px;
  position: relative;

  &__inner {
    display: flex;
    max-height: 100vh;
  }

  &__left {
    @include gradient-directional(gray(300), white, 135 deg);
    position: relative;
    width: 50%;
    padding: gap(20) gap(10);
    overflow: auto;
  }

  &__right {
    padding-top: 42px;
    width: 50%;
    position: relative;

    &::before {
      @include gradient-directional(rgba(theme-color('secondary'), 0.5), rgba(theme-color(), 0.5), 125deg);
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
    }
  }

  &__contact-video {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.1;
    user-select: none;
  }

  &__lets-talk {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    span {
      color: theme-color();
    }
  }

  &__contact-items {
    margin-top: gap(3);
    lost-flex-container: row;
  }

  &__contact-item {
    background-color: rgba(#ffffff, 0.05);
    lost-waffle: 6/12 2;
    padding: calc(#{gap(2)} + #{gap(2)} + 40px);
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 50px rgba(black, 0.2);
  }

  &__contact-item-label {
    color: black;
    font-weight: bold;
  }

  @each $modifier, $icon in $icons {
    &__contact-item-icon--#{$modifier} {
      @include mdi-icon($icon, before, 0)
    }
  }

  &__contact-item-icon {
    color: theme-color('secondary');
    position: absolute;
    left: gap(2);
    top: 50%;
    transform: translateY(-  50%);
    font-size: 40px;

  }

  &__contact-item-value {
    font-size: 16px;
    a {
      color: $text-color;
    }
  }

  &__contact-form {
    margin-top: gap(6);
  }

  &__contact-form-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: gap(3);
    margin-top: gap(2);
    text-transform: uppercase;
    span {
      color: theme-color();
    }
  }
}
