.front-page {
  margin-top: -42px;
  position: relative;

  &__container {
    @include media-container();
  }

  &__welcome {
    padding-top: 42px;
    position: relative;

    &::before {
      @include gradient-directional(rgba(theme-color('secondary'), 0.5), rgba(theme-color(), 0.5), 125deg);
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &__welcome-video {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
  }

  &__welcome-inner {
    position: relative;
    padding: gap(20) 0;
    z-index: 5;
  }

  &__welcome-title {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(black, 0.1);
  }

  &__welcome-description {
    color: #ffffff;
    margin-top: gap(6);
    max-width: 600px;
    font-size: 18px;
    text-shadow: 1px 1px 0 rgba(0,0,0, 0.1);
  }

  &__search {
    display: flex;
    align-items: center;
    box-shadow: 0 0 50px rgba(black, 0.2);
  }

  &__search-input {
    padding: gap(2) !important;
    border-radius: $border-radius-base 0 0 $border-radius-base !important;;
  }

  &__search-submit {
    @include button-variant(white, theme-color());
    border-radius:  0 $border-radius-base $border-radius-base 0;
    padding: gap(2.2)  gap(4);
    text-transform: uppercase;
    font-weight: bold;
  }

  &__author {
    position: relative;
  }

  &__author_bg {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center bottom;
  }

  &__author-inner {
    position: relative;
    padding: gap(30) 0 gap(10);
    z-index: 5;
  }

  &__author-avatar {
    display: table;
    margin: 0 auto gap(4);
    border-radius: 100%;
    border: 30px solid gray(200);
  }

  &__author-hello {
    text-align: center;
    font-weight: bold;
    color: gray('600');
  }

  &__author-name {
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: gap(3);
  }

  &__author-about {
    max-width: 800px;
    color: gray(600);
    margin: 0 auto;
    text-align: center;
  }

  &__author-more {
    @include mdi-icon('arrow-right', 'after');
    text-align: center;
    display: table;
    margin: 0 auto;
    padding-top: 20px;
    color: theme-color('secondary');
    &:hover {
      color: theme-color();
    }
  }

  &__articles {
    padding: gap(10) 0;
  }

  &__articles-title {
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: gap(6);
  }

  &__articles-more {
    @include mdi-icon('arrow-right', 'after');
    @include button-variant(white, theme-color('secondaty'));
    display: table;
    margin: gap(6) auto 0;
  }
}
