{% set bem_block = 'about-page' %}
<div class="{{ bem_block }}">
  <div class="{{ bem_block }}__inner">
    <div class="{{ bem_block }}__left">
      <h1 class="{{ bem_block }}__title">Об аторе</h1>
      <div class="{{ bem_block }}__quote">
        <div class="{{ bem_block }}__quote-cite">
          “The Box III cements Hooli’s legacy of innovation. And my signature — that’s a promise from me to the Hooli user.
          To buck the impossible. To keep imagining new ways to change the world. To keep striving for a better tomorrow.
          To stay restless, never settling for the status quo in data storage devices.”
        </div>
        <div class="{{ bem_block }}__quote-author">— Gavin Belson, Founder and CEO</div>
        <img src="{{about_signature_image_uri|image_style ('thumbnail')}}" class="{{ bem_block }}__quote-signature" alt="Gavin Balson Signature">
      </div>
      <div class="{{ bem_block }}__skills">
        <div class="{{ bem_block }}__skills-title">Мои <span>навики</span></div>
        <div class="{{ bem_block }}__skills-items">
          <div class="{{ bem_block }}__skills-item">
            <div class="{{ bem_block }}__skills-item-icon  {{ bem_block }}__skills-item-icon--drupal"></div>
            <div class="{{ bem_block }}__skills-item-title">Drupal</div>
            <div class="{{ bem_block }}__skills-item-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maxime, nemo! Animi eum facere,
              fugiat in inventore iste magni molestiae natus neque odit omnis, quas ratione, tempore tenetur veniam
              vitae.
            </div>
          </div>
          <div class="{{ bem_block }}__skills-item">
            <div class="{{ bem_block }}__skills-item-icon  {{ bem_block }}__skills-item-icon--php"></div>
            <div class="{{ bem_block }}__skills-item-title">PHP</div>
            <div class="{{ bem_block }}__skills-item-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maxime, nemo! Animi eum facere,
              fugiat in inventore iste magni molestiae natus neque odit omnis, quas ratione, tempore tenetur veniam
              vitae.
            </div>
          </div>
          <div class="{{ bem_block }}__skills-item">
            <div class="{{ bem_block }}__skills-item-icon  {{ bem_block }}__skills-item-icon--html"></div>
            <div class="{{ bem_block }}__skills-item-title">HTML</div>
            <div class="{{ bem_block }}__skills-item-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maxime, nemo! Animi eum facere,
              fugiat in inventore iste magni molestiae natus neque odit omnis, quas ratione, tempore tenetur veniam
              vitae.
            </div>
          </div>
          <div class="{{ bem_block }}__skills-item">
            <div class="{{ bem_block }}__skills-item-icon  {{ bem_block }}__skills-item-icon--css"></div>
            <div class="{{ bem_block }}__skills-item-title">CSS/SCSS</div>
            <div class="{{ bem_block }}__skills-item-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maxime, nemo! Animi eum facere,
              fugiat in inventore iste magni molestiae natus neque odit omnis, quas ratione, tempore tenetur veniam
              vitae.
            </div>
          </div>
          <div class="{{ bem_block }}__skills-item">
            <div class="{{ bem_block }}__skills-item-icon  {{ bem_block }}__skills-item-icon--js"></div>
            <div class="{{ bem_block }}__skills-item-title">JavaScript</div>
            <div class="{{ bem_block }}__skills-item-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maxime, nemo! Animi eum facere,
              fugiat in inventore iste magni molestiae natus neque odit omnis, quas ratione, tempore tenetur veniam
              vitae.
            </div>
          </div>
          <div class="{{ bem_block }}__skills-item">
            <div class="{{ bem_block }}__skills-item-icon  {{ bem_block }}__skills-item-icon--server"></div>
            <div class="{{ bem_block }}__skills-item-title">Администрирование серверов</div>
            <div class="{{ bem_block }}__skills-item-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maxime, nemo! Animi eum facere,
              fugiat in inventore iste magni molestiae natus neque odit omnis, quas ratione, tempore tenetur veniam
              vitae.
            </div>
          </div>
        </div>
      </div>
      <div class="{{ bem_block }}__services">
        <h2 class="{{ bem_block }}__services-title">Мои <span>услуги</span></h2>
        <div class="{{ bem_block }}__prices">
          <div class="{{ bem_block }}__price">
            <div class="{{ bem_block }}__price-icon {{ bem_block }}__price-icon--hour-rate"></div>
              <div class="{{ bem_block }}__price-title">Разработка</div>
              <span class="{{ bem_block }}__price-price-amount">1 500</span>
              <span class="{{ bem_block }}__price-price-currency">руб</span>
              <span class="{{ bem_block }}__price-price-for">час</span>
            <ul class="{{ bem_block }}__price-services">
              <li class="{{ bem_block }}__price-service">Написания кастомних молуей</li>
              <li class="{{ bem_block }}__price-service">Верстка</li>
              <li class="{{ bem_block }}__price-service">Настройка и деплой</li>
              <li class="{{ bem_block }}__price-service">Рефакторинг и оптимизация</li>
              <li class="{{ bem_block }}__price-service">Доработка чущих модулей</li>
            </ul>
            <a href="{{ url('contact.site_page') }}" class="{{ bem_block }}__prices-contact">Написать</a>
          </div>
          <div class="{{ bem_block }}__price">
            <div class="{{ bem_block }}__price-icon {{ bem_block }}__price-icon--audit"></div>
              <div class="{{ bem_block }}__price-title">Анализ кода и аудит</div>
              <span class="{{ bem_block }}__price-price-amount">5000</span>
              <span class="{{ bem_block }}__price-price-currency">руб</span>
              <span class="{{ bem_block }}__price-price-for">час</span>
            <ul class="{{ bem_block }}__price-services">
              <li class="{{ bem_block }}__price-service">Анализ и аудит кода</li>
              <li class="{{ bem_block }}__price-service">Документ сочетом</li>
              <li class="{{ bem_block }}__price-service">90 минут на розгвор по скайпу</li>
              <li class="{{ bem_block }}__price-service">Различние очети от инструментов с проверками</li>
              <li class="{{ bem_block }}__price-service">Примери модулей</li>
            </ul>
            <a href="{{ url('contact.site_page') }}" class="{{ bem_block }}__prices-contact">Написать</a>
          </div>
        </div>
      </div>
    </div>
    <div class="{{ bem_block }}__right">
      <img src="{{ about_image_uri|image_style('dlog_hero') }}" alt="about" title="about" class="{{ bem_block }}__about-poster">
    </div>
  </div>
</div>

