{% set bem_block = 'front-page' %}
<main class="{{ bem_block }}">
  <div class="{{ bem_block }}__welcome">
    <video poster="{{ search_image_uri|image_style('thumbnail') }}" autoplay loop muted class="{{ bem_block }}__welcome-video">
        <source src = "{{ file_url(search_video_uri )}}" type="video/mp4">
      {{ 'Your bowser does not support the video tag'|t }}
    </video>
    <div class="{{ bem_block }}__container">
      <div class="{{ bem_block }}__welcome-inner">
        <h1 class="{{ bem_block }}__welcome-title">Блог про разработку и IT</h1>
        <div class="{{ bem_block }}__welcome-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur distinctio ipsum quae quaerat
            suscipit! Assumenda eligendi, expedita laudantium molestias reprehenderit sequi? Architecto aspernatur
            mollitia quia ratione saepe soluta tempore voluptas?</p>
        </div>
        <div class="{{ bem_block }}__search">
          <input type="text" autocomplete="off" class="{{ bem_block }}__search-input" placeholder="Поиск по материалам сайта">
          <button class="{{ bem_block }}__search-submit">Поиск</button>
        </div>
      </div>
    </div>
  </div>
  <div class="{{ bem_block }}__author">
    <img src="{{ author_bg|image_style('dlog_hero') }}" alt="" class="{{ bem_block}}__author_bg">
    <div class="{{ bem_block }}__container">
      <div class="{{ bem_block }}__author-inner">
       <img src="{{ author_avatar| image_style('medium') }}" alt="author" class="{{ bem_block }}__author-avatar">
        <div class="{{ bem_block }}__author-hello">Привет! Меня зовут</div>
        <div class="{{ bem_block }}__author-name">
          Гевин Белсон
        </div>
        <div class="{{ bem_block }}__author-about">
          <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at culpa esta rem saepe, ut vel velit? Eum, quibusdam.</span>
            <span>Aliquam at, consectetur culpa dolorem ex fugiat id iusto maiores, nisi quos tempore, vero. Blanditiis cum e soluta, tempore voluptatum.</span>
            <span>Eius placeat totam unde voluptatibus! Accusamus aliquid asperiores delectus dignio officia praesentium vel vero voluptate!</span>
            <span>Ab architecto asperiores atque blanditiis commodi cum cumque eius hic ipsa iusto laborumipit tempore temporibus veniam vero voluptate voluptatibus.</span>
            <span>Ab amet ex magnam nemo, quis sapiente. Ad labore placeat qui! Accusamustium quo recusandae suscipit unde velit.</span>
            <span>Animi assumenda beatae consequuntur dolorum ducimus et, impedit itaqu ut voluptas? Dolore, fugit vel.</span>
          </p>
        </div>
        <a href="{{ url('entity.node.canonical', {node : 1}) }}" class="{{ bem_block }}__author-more">
          Больше об aвторе
        </a>
      </div>
    </div>
  </div>
  <div class="{{ bem_block }}__articles">
    <div class="{{ bem_block }}__container">
      <h2 class="{{ bem_block }}__articles-title">Последние публикации</h2>
      {{ drupal_view('blog_articles', 'frontpage_articles') }}
      <a href="{{ url('view.blog_articles.page_1') }}" class="{{ bem_block }}__articles-more">Перейти блог</a>
    </div>
  </div>
</main>
